.ynet-container{
	display: flex;
    flex-direction: column;
    min-height: 100vh;
    .ynet-container-body{
    	margin-top: 80px;
    	display: flex;
	    flex-direction: row;
	    flex-grow: 1;
	    overflow-x: hidden;
    }
    .main{
        padding-bottom: 10px;
        margin-left: 180px;
        background-color: #eff0f4;
        flex: 1;
        min-width: 0;
        transition: margin-left .25s, margin-right .25s, width .25s, flex .25s;
    }
}