.ynet-container{
	display: flex;
    flex-direction: column;
    min-height: 100vh;
    .ynet-container-body{
    	margin-top: 80px;
    	display: flex;
	    flex-direction: row;
	    flex-grow: 1;
	    overflow-x: hidden;
        .ynet-container-main{
            padding-bottom: 10px;
            margin-left: 180px;
            background-color: #eff0f4;
            flex: 1;
            min-width: 0;
            transition: $transition;
            .main{padding: 1rem;}
        }
    } 
}
.sidebar-minimized {
    .ynet-container{
        .ynet-container-body{
            .ynet-container-main{
                margin-left: 50px;
            }
        } 
    }
}