.ynet-footer{
	min-height: 50px;
    padding: 0 1rem;
    line-height: 50px;
    color: #263238;
    background: $footerBgColor;
    border-top: 1px solid #cfd8dc;
    margin-left: 180px;
    transition: $transition;
    a{
    	color: #2d8cf0;
	    background: 0 0;
	    text-decoration: none;
	    outline: 0;
	    cursor: pointer;
	    -webkit-transition: color .2s ease;
	    transition: $transition;
    }
}
.sidebar-minimized{
    .ynet-footer{
      margin-left: 50px;
    }
}