*{
  padding: 0;margin: 0;font-size: .875rem !important;font-weight: 400;color:#495060;
  .sidebar-minimized{
    .ynet-silder{
      flex: 0 0 50px;
      width: 50px;
      z-index: 1019;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      &::-webkit-scrollbar {/*滚动条整体样式*/
          width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
          height: 4px;
      }
      &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(18,150,219,.5)
      }
      &::-webkit-scrollbar-track {/*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 0;
            background: rgba(0,0,0,0.1);
      }
      &:hover{
        overflow: visible;
      }
      .ynet-silder-sidebar{
        overflow: visible;
        width: 50px;
        height: calc(100vh - 80px);
        .ynet-silder-nav{
           width: 50px;
           list-style:none;
           padding:0;
           margin:0;
          .ynet-silder-nav-item{
            width: 50px;
            overflow: hidden;
            border-left: 0 !important;
            list-style:none;
            padding:0;
            margin:0;
            &:hover{
              width: 180px;
              overflow: visible;
              background: #20a8d8;
              transition: .3s;
              list-style:none;
              .ynet-silder-nav-link{
                width: 180px;
                overflow:hidden;
              }
              ul{
                display: inline;
                max-height: 10000px;
                height: auto !important;
                transition: 0s;
                overflow: inherit !important;
                width: 130px;
                position: absolute;
                right: 0;
                top: 100%;
                li{
                  width: 130px;
                  position: relative;
                  .ynet-silder-nav-link{
                    width: 130px;
                  }
                }
              }
            }
            .ynet-silder-nav-link{
              width: 130px;
              position: relative;
              padding-left: 0;
              padding-right: 0;
              margin: 0;
              white-space: nowrap;
              &:hover{
                width:180px;
              }
              .ynet-silder-icon{
                display: block;
                float: left;
                width: 50px;
                font-size: 18px;
              }
            }
            .ynet-silder-nav-dropdown{
              position: absolute;
              left: 50px;
              background: #0d5477;
              li{
                position: relative;
                padding: 0;
                .ynet-silder-nav-link{
                  width: 130px;
                }
                ul{
                  position: absolute;
                  top: 0;
                  left: 100%;
                }
              }
            }
            .ynet-silder-nav-link-toggle{
              &:before{
                display: none;
              }
            }
          }
          .open{
            background:pink;
          }
        }
      }
    }
    .main {
        margin-left: 50px;
    }
    .ynet-footer{
      margin-left: 50px;
    }
  }
}