$headBgColor:rgba(195,163,34,.4);
$headBorBomColor:rgba(57,13,53,.3);
$sliderBgClor:rgba(195,163,34,.4);
$sliderBorBomColor:rgba(44,64,45,.3);
$sliderHoverColor:rgba(151,202,154,.5);
$sliderHActiveBgColor:rgba(73,13,68,.4);
$sliderHActiveColor:rgba(10,10,10,1);
$footerBgColor:rgba(236,239,241,.6);
$transition:margin-left .25s, margin-right .25s, width .25s, flex .25s;



// 定义断点值的变量
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;
// 定义断点对象
$--breakpoints: (
  'xs' : (max-width: $--sm),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
);
$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': "(min-width: #{$--sm}) and (max-width: #{$--md - 1})",
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': "(min-width: #{$--md}) and (max-width: #{$--lg - 1})",
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': "(min-width: #{$--lg}) and (max-width: #{$--xl - 1})",
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);