
$headBgColor:rgba(73,13,68,.4);
$headBorBomColor:rgba(57,13,53,.3);
$sliderBgClor:rgba(52,79,-62,.5);
$sliderBorBomColor:rgba(44,64,45,.3);
$sliderHoverColor:rgba(151,202,154,.5);
$sliderHActiveBgColor:rgba(73,13,68,.4);
$sliderHActiveColor:rgba(10,10,10,1);
$footerBgColor:rgba(236,239,241,.6);
$transition:margin-left .25s, margin-right .25s, width .25s, flex .25s;